

<div class="row">
  <div class="col-md-10 offset-md-2">
    <h3>Users Listing</h3>
  </div>
</div>  

<div class="row">

    <% @users.each do |s| %>
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <span class="card-title">Name: <%= s.first_name %>  <%= s.last_name %></span>
            <p>Tickets: 0 </p>

            <%= link_to 'Profile', user_path(s), class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>  
  
  </div>




